/* loading component */
#loading-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:3px 0;
  gap: 15px;
}
.box {
  background-color: var(--primary-accent);
  margin: 30px 0;
  height: 50px;
  width: 50px;
  animation: loading 1s infinite;
}
@keyframes loading {
  to{
      rotate: 360deg;
  }
}
/* loading blur image */
.loading-blur {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  background-image: linear-gradient(90deg, #f0f0f097 25%, #d1cece 50%, #f0f0f097 75%);
  background-size: 200% 100%;
  animation: loading-shimmer 1.5s infinite alternate-reverse;
}
@keyframes loading-shimmer {
  0% {
    background-position: 200% 0;
    scale: .96;
  }
  100% {
    background-position: -200% 0;
    scale: 1;
  }
}
/* mini loading */
#mini-loading-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
  gap: 5px;
}
.mini-circle {
  background-color: var(--sec-accent);
  /* height: 20px;
  width: 20px; */
  border-radius: 50%;
  animation: mini-loading .5s infinite alternate;
}
.mini-circle.circle1 {
  animation-delay: 0s;
}
.mini-circle.circle2 {
  animation-delay: .2s;
  opacity: .6666667;
}
.mini-circle.circle3 {
  animation-delay: .4s;
  opacity: .3333333;
}
@keyframes mini-loading {
  to{
      transform: translateY(-15px);
  }
}
/* pages count */
.pages-count {
  color: var(--sec-accent);
}
.navigate-page {
  color: var(--main-text);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all .3s;
}
.navigate-page:enabled:hover {
  color: var(--sec-accent);
}
.navigate-page:disabled {
  color: gray;
  cursor: not-allowed !important;
}
/* logo */
header .logo img {
  width: 120px;
  margin: 0;
}
.logo img {
  width: 170px;
  margin-bottom: .5rem;
}
/* poster */
.search-movies, .search-tv, .more-shows {
  margin: 10px; 
  margin-bottom: 0;
  padding: .5rem;
}
.search-movies, .search-tv, .more-shows, .posters-container {
  background-color: var(--sec-bg);
  border-radius: 15px;
}
.posters-container {
  padding: 1.5rem 1rem 0 1rem;
  margin: 20px 20px 0 20px;
  box-shadow: 0px 0px 10px var(--sec-bg);
}
.posters-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-accent-gradient);
}
.posters-header h3 {
  margin: 0;
}
.posters-wrapper {
  position: relative;
}
.posters-shadow-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background: linear-gradient(to right, transparent, var(--sec-bg));
  pointer-events: none;
  z-index: 1;
  transition: all 0.3s;
}
.posters-shadow-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  background: linear-gradient(to left, transparent, var(--sec-bg));
  pointer-events: none;
  z-index: 1;
  transition: all 0.3s;
}
.poster-show-more {
  cursor: pointer;
}
.poster-div {
  position: relative;
  border-radius: 10px;
  min-height: calc(155px * 1.5);
}
.poster-div img {
  transition: all .3s;
  width: calc(150px + 4vw);
  min-width: 140px;
}
.poster-div img:hover {
  box-shadow: 0 5px 20px var(--primary-accent-gradient);
}
.poster-div p {
  font-size: smaller;
  max-width: calc(140px + 3vw);
  min-width: 140px;
  margin-bottom: 0;
  color: var(--sec-info);
}
.poster-btn{
  position: absolute;
  top: .25rem;
  cursor: pointer;
  transition: all .3s;
}
.poster-btn:hover {
  transform: translateY(-2px);
}
.poster-fav {
  color: var(--highlight);
  right: 0;
}
.poster-later {
  color: var(--primary-accent);
  left: 0;
}
.posters-div {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-accent) var(--main-bg);
  display: flex;
  gap: 20px;
  padding: .2rem;
}
.poster-img {
  border-radius: 10px;
}
@media (max-width: 660px) {
  .poster-div img {
    width: calc(145px + 2vw);
  }
  .posters-div {
    scrollbar-color: transparent transparent;
  }
  .posters-div, .search-posters, .more-posters {
    gap: 15px;
  }
  .posters-shadow-left, .posters-shadow-right {
    width: 40px;
  }
}
/* 404 error page */
.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error h1 {
  color: red;
}

/* footer */
footer {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
footer p i {
  font-size: larger;
}
@media (width < 760px) {
  footer {
    flex-direction: column;
    gap: 2.5rem;
  }
}
.about {
  max-width: 50%;
}
footer .login, footer .register {
  margin: 0 !important;
  width: 60%;
  display: block;
}
footer .register {
  color: var(--main-text);
  border: 1px solid var(--primary-accent);
  background: linear-gradient(135deg, var(--primary-accent-gradient) 10%, var(--primary-accent));
  border-radius: 8px;
  transition: all .3s;
}
footer .register:hover {
  background: linear-gradient(135deg, var(--primary-accent-gradient) 10%, var(--primary-accent));
  transform: translateY(-2px);
}
.links {
  display: flex;
  gap: 5rem;
}
.links h5 {
  color: var(--primary-accent-gradient);
}
.more-content li {
  list-style: none;
  width: fit-content;
  color: var(--sec-info);
  transition: all .3s;
}
.more-content li:hover {
  list-style: initial;
  color: var(--highlight);
}
.social-link {
  display: flex;
  gap: 12px;
}
.copyright {
  color: var(--muted-body-text);
}
#whatsapp, #facebook, #linkedin, #github {
  transition: all .3s;
}
#whatsapp {
  color: #25D366;
}
#facebook {
  color: #3b5998;
}
#linkedin {
  color: #0A66C2;
}
#whatsapp:hover, #facebook:hover, #linkedin:hover, #github:hover {
  transform: scale(1.2);
}
@media (width < 760px) {
  .links {
    flex-direction: column;
    gap: 1.5rem;
  }
  .copyright {
    align-self: auto;
  }
  .about {
    max-width: 80%;
  }
}