/* loading component */
#loading-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:3px 0;
  gap: 15px;
}
.box {
  background-color: var(--primary-accent);
  margin: 30px 0;
  height: 50px;
  width: 50px;
  animation: loading 1s infinite;
}
@keyframes loading {
  to{
      rotate: 360deg;
  }
}
/* pages count */
.pages-count {
  color: var(--sec-accent);
}
.navigate-page {
  color: var(--main-text);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: all .3s;
}
.navigate-page:enabled:hover {
  color: var(--sec-accent);
}
.navigate-page:disabled {
  color: gray;
  cursor: not-allowed !important;
}
/* logo */
header .logo img {
  width: 120px;
  margin: 0;
}
.logo img {
  width: 170px;
  margin-bottom: .5rem;
}
/* poster */
.search-movies, .search-tv, .more-shows {
  margin: 10px; 
  margin-bottom: 0;
  padding: .5rem;
}
.search-movies, .search-tv, .more-shows, .posters-container {
  background-color: var(--sec-bg);
  border-radius: 15px;
}
.posters-container {
  padding: 1.5rem 1rem 0 1rem;
  margin: 20px 20px 0 20px;
  box-shadow: 0px 0px 10px var(--sec-bg);
}
.posters-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-accent-gradient);
}
.posters-header h3 {
  margin: 0;
}
.poster-show-more {
  cursor: pointer;
}
.poster-div {
  position: relative;
  border-radius: 10px;
  min-height: calc(155px * 1.5);
}
.poster-div img {
  transition: all .3s;
  width: calc(150px + 5vw);
  min-width: 140px;
}
.poster-div img:hover {
  box-shadow: 0 5px 20px var(--primary-accent-gradient);
}
.poster-div p {
  font-size: smaller;
  max-width: calc(140px + 3vw);
  min-width: 140px;
  margin-bottom: 0;
  color: var(--sec-info);
}
.poster-btn{
  position: absolute;
  top: .25rem;
  cursor: pointer;
  transition: all .3s;
}
.poster-btn:hover {
  transform: translateY(-2px);
}
.poster-fav {
  color: var(--highlight);
  left: 80%;
}
.poster-later {
  color: var(--primary-accent);
  left: 0;
}
.posters-div {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  display: flex;
  gap: 20px;
  padding: .2rem;
}
.poster-img {
  border-radius: 10px;
}
@media (max-width: 660px) {
  .poster-div img {
    width: calc(145px + 2.5vw);
  }
  .posters-div, .search-posters, .more-posters {
    gap: 15px;
  }
}
/* 404 error page */
.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error h1 {
  color: red;
}